@import url('https://rsms.me/inter/inter.css');
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/lead/lead.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/photo/photo.css);
@import url(./blocks/places/places.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/footer/footer.css);
