.places__paragraph-item {
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 18;
  line-height: 1.875;
  margin: 0;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .places__paragraph-item {
    line-height: 1.625rem;
  }
}

@media (max-width: 414px) {
  .places__paragraph-item {
    width: 90%;
    padding: 24px 0 0;
    margin: 0 auto;
  }
}