@import url(./__title/intro__title.css);
@import url(./__paragraph/intro__paragraph.css);
@import url(./__list/intro__list.css);
@import url(./__item/intro__item.css);
@import url(./__span/intro__span.css);

.intro {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: min(768px,70%,1280px);
}


@media (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media (max-width: 375px) {
  .intro {
    width: calc(100% - 32px);
  }
}

