.cover__title {
  font-size: 4.5rem;
  line-height: 4.875rem;
  font-weight: 900;
  margin: 0 auto 16px;
  max-width: 560px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__title {
  margin: 0 auto 32px;
  }
}

@media (max-width: 540px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    width: 76%;
    /* margin: 0 auto 11px; */
  }
}
@media (max-width: 320px) {
  .cover__title {
    width: 90%;
    margin: 0 auto 13px;
  }
}