.cover__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  z-index: 1;
  max-width: 382px;
  text-align: center;
  margin: 0 0 221px 0;
}

@media (max-width: 768px) {
  .cover__paragraph {
  margin: 0 auto 115px;
  }
}

@media (max-width: 540px) {
  .cover__paragraph {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    margin: 0 auto 30px;
  }
}