.cover__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2222;
  z-index: 1;
  max-width: 382px;
  text-align: center;
  margin: 0 0 221px 0;
}

@media (max-width: 768px) {
  .cover__paragraph {
  margin: 0 auto 115px;
  }
}

@media (max-width: 540px) {
  .cover__paragraph {
    font-size: 14px;
    line-height: 1.14;
    margin: 0 auto 30px;
  }
}